.card {
    background:  rgb(31, 31, 31);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 15px;
    width: 50%;
    margin:auto;
}


@media (max-width: 1800px) {
    .card {
      width: 55%;
    }
  }

  @media (max-width: 1650px) {
    .card {
      width: 60%;
    }
  }


  @media (max-width: 1200px) {
    .card {
      width: 70%;
    }
  }

  
  @media (max-width: 1000px) {
    .card {
      width: 75%;
    }
  }

  @media (min-width: 2200px) {
    .card {
      width: 60%;
    }
  }